.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background: rgb(10, 25, 41);
}
